.AutoCompleteText {
    width: 100%;
    border: 1px solid grey;
    /*boxsha*/
    text-align: center;
}

.AutoCompleteText input {
    width: 100%;
    border:none;
    box-sizing: border-box;
    outline:none;
}


.AutoCompleteText ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding:0;
    border-top: 1px solid grey;
}

.AutoCompleteText ul::before{
    content: "";
}

.AutoCompleteText li{
    padding: 10px 5px;
    cursor: pointer;
}

.AutoCompleteText li:hover{
    text-decoration: underline;
    background-color: #2299dd;
}
